<!-- <h1>Angular Router App</h1>
This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule)
<nav>
    <ul class="list-group">
        <li *ngFor="let beverage of beverages" class="list-group-item">
            <span> {{ beverage.name }} </span><span> {{ beverage.description }} </span><span> {{ beverage.price }} </span>
        </li>
    </ul>
  <ul>
    <li><a routerLink="'/first-component'">First Component</a></li>
    <li><a routerLink="/second-component">Second Component</a></li>
  </ul>
</nav> -->

<h2> Sadguru's Amrit-Tulya - Tea Shop</h2>
 
<router-outlet></router-outlet>